# Database Config 
DATABASE_URL=mysql://your_user:your_password@mariadb:3306/base_de_datos
# Env variables for mariadb docker container
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=base_de_datos
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password

REDIS_URL=redis://redis:6379

# Server Config
PORT=3132
ALLOWED_ORIGINS=http://localhost:2173

# Sessions Config
SESSION_SECRET=""



